/* 
==================
== Start Global ==
==================
 */
 :root {
  --teal-c: #0a3d59;
  --green-c: #6db015;
}
.body,
*,
*:before,
*:after {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  margin: auto;
}

/* 
==================
== End Global ==
==================
 */
/* 
==================
== Start Header ==
==================
 */
header .top-bar {
  background: var(--teal-c);
}
header .top-bar a {
  color: #fff;
  transition: color 0.3s;
  display: flex;
  gap: 5px;
}
header .top-bar a:hover {
  color: var(--green-c);
}
header .top-bar .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
header .top-bar .container .contact {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .top-bar .container .contact a {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .top-bar .container .contact a.telphone {
  position: relative;
}
header .top-bar .container .contact a.telphone::before {
  content: "|";
  position: absolute;
  color: #6ea3c0;
  height: 100%;
  width: 1.5px;
  top: 0px;
  right: -15px;
}
header .top-bar .container .currency {
  display: flex;
  gap: 20px;
}
header .top-bar .container .select-currency,
header .top-bar .container .select-language {
  position: absolute;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  display: none;
}
@keyframes select-down {
  0% {
    z-index: 1000;
    display: block;
    top: 10%;
  }
  100% {
    z-index: 1000;
    top: 20%;
  }
}
@keyframes select-up {
  0% {
    z-index: 998;
    top: 20%;
  }
  100% {
    z-index: 998;
    top: 10%;
    display: none;
  }
}
header .top-bar .container .select-currency h2,
header .top-bar .container .select-language h2 {
  padding: 10px 20px 15px;
  border-bottom: 1px solid #dfe2e6;
  position: relative;
  display: flex;
  align-items: center;
}
header .top-bar .container .select-currency h2 span.close,
header .top-bar .container .select-language h2 span.close {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  background: #808080;
  right: 30px;
  font-size: 2em;
  font-weight: initial;
  transition: transform 0.5s;
}
header .top-bar .container .select-currency h2 span.close:hover,
header .top-bar .container .select-language h2 span.close:hover {
  transform: rotate(360deg);
  cursor: pointer;
  background: red;
}
header .top-bar .container .select-currency .coins,
header .top-bar .container .select-language .flags {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}
header .top-bar .container .select-language .flags h5 {
  width: calc(100% / 3);
  display: flex;
  gap: 10px;
  font-size: 0.9em;
  transition: transform 0.5s;
  margin: 15px 0;
}
header .top-bar .container .select-currency .coins span:hover,
header .top-bar .container .select-language .flags h5:hover {
  color: var(--green-c);
  cursor: pointer;
}
header .top-bar .container .select-currency {
  position: absolute;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  animation: select-down forwards 1s linear;
}
header .top-bar .container .select-currency .coins {
  padding: 10px 20px;
}
header .top-bar .container .select-currency .coins span {
  display: block;
  font-weight: 100;
  min-width: 50%;
  padding: 10px 0;
  transition: color 0.5s;
}
header .top-bar .container .select-currency .coins span strong {
  font-weight: bold;
}
@media only screen and (max-width: 661px) {
  header .top-bar .container {
    flex-wrap: wrap;
    row-gap: 38px;
    justify-content: center;
  }
}
@media only screen and (max-width: 535px) {
  header .top-bar .container .select-language,
  header .top-bar .container .select-currency {
    width: 98%;
  }
  header .top-bar .container .select-language .flags,
  header .top-bar .container .select-currency .coins {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 466px) {
  header .top-bar .container .contact a.telphone::before {
    content: "";
    position: absolute;
    background: #6ea3c0;
    height: 1px;
    width: 100%;
    top: 200%;
    right: 0px;
  }
}
@media only screen and (max-width: 470px) {
  header .top-bar .container .contact {
    flex-wrap: wrap;
    row-gap: 38px;
    justify-content: center;
  }
  }
  /* 
  =========================
  == start bottom header ==
  =========================
   */
  header .bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  header .bottom-bar .logo {
    height: 50px;
    width: 17%;
  }
  header .bottom-bar .logo img {
    width: 100%;
    cursor: pointer;
    height: 100%;
  }
  header .bottom-bar ul.links {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  header .bottom-bar ul.links  li:hover,
  header .bottom-bar ul.links  li ul.links-home li.active,
  header .bottom-bar ul.links  li.active {
    color: var(--green-c);
    cursor: pointer;
  }
  header .bottom-bar ul.links  li {
    text-transform: capitalize;
    font-weight: bold;
    transition: color 0.3s;font-size: 1.1em;
    transition: all 0.3s;
    position: relative;
    transition: all 0.3s;

  }
  
  header .bottom-bar ul.links  li ul {
    position: absolute;
    top: 110%;
    left: 0%;
    background: #fff;
    line-height: 2;
    width: 150px;
    height: 0px;
    padding: 0;
    border-radius: 0px 0px 12px 12px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
  header .bottom-bar ul.links  li:hover ul {
    display: block;
    animation: show 0.3s linear 1 forwards;

}
@keyframes show {
  0%{
    height: 0;

  }
  100%{
    height: auto;
    overflow:  inherit;

  }

}
header .bottom-bar ul.links  li ul li {
  transition: all 0.3s;
}

  header .bottom-bar ul.links  li ul li:hover a {
    color: var(--green-c);
  }
  header .bottom-bar ul.links  li ul li a {
    color: #000;
    font-weight: 100;
    margin-top: 10px;
    padding: 10px;
  }
  /* header .bottom-bar ul.links  li ul.links-destinations {display: none;} */
  header .bottom-bar ul.links  li ul.links-destinations li {}
  header .bottom-bar ul.links  li ul.links-destinations li a {}
  header .bottom-bar ul.links  li .moliva-tours-links {
    /* display: none; */
  }
  header .bottom-bar ul.links  li .moliva-tours-links li {}
  header .bottom-bar ul.links  li .moliva-tours-links li a {}
  header .bottom-bar ul.links  li .travel-insight-links  {display: none;}
  header .bottom-bar ul.links  li .travel-insight-links li  {}
  header .bottom-bar ul.links  li .travel-insight-links li a {}
  header .bottom-bar .pages-links {}
  header .bottom-bar .pages-links ul.my-account-links {
    display: none;
  }
  header .bottom-bar .pages-links ul.my-account-links li {}
  header .bottom-bar .pages-links ul.my-account-links li a {}
  header .bottom-bar .pages-links .booking-other-pages-links {
    display: none;
  }
  header .bottom-bar .pages-links .booking-other-pages-links ul.booking-links {}
  header .bottom-bar .pages-links .booking-other-pages-links ul.booking-links li {}
  header .bottom-bar .pages-links .booking-other-pages-links ul.booking-links li a {}
  header .bottom-bar .pages-links .booking-other-pages-links ul.other-pages-links {}
  header .bottom-bar .pages-links .booking-other-pages-links ul.other-pages-links li  {}
  header .bottom-bar .pages-links .booking-other-pages-links ul.other-pages-links li a {}
  header .bottom-bar .icons {
    display: flex;
    gap: 20px;
  }
  header .bottom-bar .icons span  {
    padding: 15px;
    background: #e9ecf0;
    border-radius: 50%;
  }
  header .bottom-bar .icons span.bag-shop {
    position: relative;
  }
  header .bottom-bar .icons span.heart:before ,
  header .bottom-bar .icons span.bag-shop:before {
    position: absolute;
    background: var(--green-c);
    color: #fff;
    width: 20px;
    height: 20px;
    top: -6px;
    right: -6px;
    border-radius: 50%;   
     font-size: 0.8em;
display: flex;
align-items: center;
justify-content: center;
  }
  header .bottom-bar .icons span.bag-shop:before {
    content: "3";
  }
  header .bottom-bar .icons span.heart {
    position: relative;
  }
  header .bottom-bar .icons span.heart:before {
    content: "5";
    position: absolute;
  }
  header .bottom-bar .icons span.user {}

  header .bottom-bar .icons span i.shop {}
  header .bottom-bar .icons span i.heart {}
  header .bottom-bar .icons span i.user {}
  /* 
  =======================
  == End bottom header ==
  =======================
   */

/* 
================
== End Header ==
================
 */


